<!DOCTYPE html>
<html>

  <head>

    <title>Simulating and Visualizing Schwarzschild Geometry</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>


  <body>

    <div class="header">
      <div  id="header-text">
        <h1>Schwarzschild Geometry</h1>
        <h3>Simulating and Visualizing</h3>
      </div>
    </div>

    <div class="link">
      <a href="{{url_for('input')}}">Trajectory</a>
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('image')}}">Realistic Image</a>
    </div>

    <div>
      <h4>Place your own light particle</h4> 
      <form action="{{url_for('getPoints')}}" method="POST">
        X-axis:<br>
        <input type="number" name="xcoord" step="0.01" value="0.0">
        <br>
        Y-axis:<br>
        <input type="number" name="ycoord" step="0.01" value="0.0">
        <br>
        Initial angle:<br>
        <input type="number" name="sigma" step="0.01" value="0.0">
        <br><br>
        <input type="submit" name="submit" value="Submit">
      </form> 
    </div>

<!--<div class="link">
      <a href="./create.html">Creat your own trajectory</a>
    </div> -->

  </body>

</html>