<!DOCTYPE html>
<html>

  <head>

    <title>Simulating and Visualizing Schwarzschild Geometry</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

  </head>


  <body>

    <div class="header">
      <div  id="header-text">
        <h1>Schwarzschild Geometry</h1>
        <h3>Simulating and Visualizing</h3>
      </div>
    </div>

    <div class="link">
      <a href="{{url_for('getPoints')}}">Trajectory</a>
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('image')}}">Realistic Image</a>
    </div>

    <div>
      <h4>Introduction</h4> 
      <p>Simulating and Visualizing Schwarzschild Geometry is a software project with two separate sections each with different functions. <br><br> The first program provides an interactive simulation of the behavior of light particles near a black hole. <br><br> The second program creates a realistic image of how a black hole would be perceived by the human eye.
      </p>
    </div>

    <div>
      <h4>Team</h4>
      <p id="team-text">
      Student: Caleb Wastler, Yiqing Cao<br><br>
      Faculty advisor: Dipankar Maitra<br><br>
      Project start/end: Jan 2017/continuing
      </p>
    </div>

    <div>
      <h4>References</h4>
      <p>
      ......
      <!-- example of how to insert a link
      <li>
      <a href="http://adsabs.harvard.edu/abs/1989ApJ...345..245C">
      Cardelli, J. A., Clayton, G. C., and Mathis, J. S., 1989, ApJ, 345, 245
      </a></li>
      -->
      </p> 
    </div>

  </body>

</html>