<!DOCTYPE html>
<html>

  <head>

    <title>Simulating and Visualizing Schwarzschild Geometry</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

  </head>


  <body>

    <div class="header">
      <div  id="header-text">
        <h1>Schwarzschild Geometry</h1>
        <h3>Simulating and Visualizing</h3>
      </div>
    </div>

    <div class="link">
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('math')}}">Mathematics</a>
      <a href="{{url_for('getPoints')}}">Trajectory</a>
      <a href="{{url_for('image')}}">Image Correction</a>
    </div>

    <div>
      <h4>Introduction</h4> 
      <center><p>
        Simulating and Visualizing Schwarzschild Geometry is a website with two separate sections each with different functions. <br><br> 
        The first part will be a web application which accurately simulates the behavior of a single light particle near a black hole. This will serve as a teaching and visualization tool for use by Professor Dipankar to loosely demonstrate Schwarzschild geometry. This will also be useful as an interactive in-class demonstration where students will be able to move the photon around and view the resulting change in its path. All calculations will be done assuming a black hole with a mass of one, so that the values of the program can easily be scaled to a real situation. <br><br> 
        The goal of the second part of the project is to try and determine how to correct for increased brightness or darkness based on position of the “camera” when trying to take an image of a black whole.  In traditional euclidean space, which light does not bend, the estimated number of light particles which will collide with a lens follows directly from the number of beams emitted by the light-source (assuming even distribution) the size of the lens and the distance between the lens and the light.  However when the gravitational force of a black hole is introduced to the situation, not much is know/can be said about how many light particle will hit the lens given a particular position for the lens and the light. 
      </p></center>
    </div>

    <div>
      <h4>Team</h4>
      <center><p id="team-text">
        Student: Caleb Wastler, Yiqing Cao<br><br>
        Faculty advisor: Dipankar Maitra<br><br>
        Project start/end: Jan 2017/continuing
      </p></center>
      <div class="link">
        <a href="https://github.com/datGryphon/black-hole-light-simulations">Link to Github</a>
      </div>
    </div>

    <div>
      <h4>References</h4>
      <center><p id="team-text">
      Misner, Charles W., Kip S. Thorne, and John Archibald. Wheeler. Gravitation. New York, NY: Freeman, 2008. Print.
      </p></center>
    </div>

  </body>

</html>